/* reset stylesheet */
/* John Munyan      */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*#name is an ID
  it can be used to move you to sections of the page

h1 {
    color: orange;
    font-size: 30px;
}*/

body {
    background-repeat: repeat-x;
    background-size: 100% 7000px;
    background-image: url("https://www.bing.com/th?id=AMMS_d089753ce771ccd6c2a813b6eec53ef9&w=110&h=110&c=12&rs=1&qlt=80&pcl=f9f9f9&cdv=1&pid=16.2");
    overflow: auto;
    scroll-behavior: smooth;
}

.topbar{
    font-size: 40px;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.div1 {
    background-color: orange;
    /*padding deals with space inside of the element*/
    height: 500px;
    width: 100%;
    margin-top: 1200px;
    margin-bottom: 0;
    scroll-behavior: smooth;
    overflow: auto;
}

.div1 .why {
    font-size: 400px;
    color: gray;
    background-color: blue;
}
