/* reset stylesheet */
/* John Munyan      */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*#name is an ID
  it can be used to move you to sections of the page

h1 {
    color: orange;
    font-size: 30px;
}*/

body {
    background-repeat: repeat-x;
    background-size: 50% 300%;
    background-image: url("https://www.bing.com/th?id=AMMS_d089753ce771ccd6c2a813b6eec53ef9&w=110&h=110&c=12&rs=1&qlt=80&pcl=f9f9f9&cdv=1&pid=16.2");
    scroll-behavior: smooth;
}

body .topbar{

    font-size: 40px;
    background-color: blue;
    padding-top: 0px;
}

box {

}

.why {
    height: 100px;
    font-size: 90px;
    padding-top: 50%;
    padding-left: 20px;
    padding-right: 50px;
    height: 200px;
    background-color: orange;

}
/*
.index-body {
   color: red;
   background-color: gray;
}
